/* TableView */
.table-view {
    -fx-background-color: white;


}



.table-view .column-header {
     -fx-background-radius:8px 8px 0 0 ;
    -fx-background-color: #8A2BE2;
    -fx-size: 40px;

    -fx-background-inset:0 0 0 0 ;
}




.table-view .column-header-background .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;


}
.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:even {
    -fx-background-color: white;
}

/* Table Cell Text */
.table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}













